@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --chart-1: 205 92% 56%;
    --chart-2: 231 36% 48%;
    --chart-3: 252 92% 66%;
    --chart-4: 318 83% 60%;
    --chart-5: 0 69% 42%;
    --chart-6: 15 95% 53%;
    --chart-7: 46 96% 53%;
  }
}
