@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --chart-1: hsl(205 92% 56%);
    --chart-2: hsl(231 36% 48%);
    --chart-3: hsl(252 92% 66%);
    --chart-4: hsl(318 83% 60%);
    --chart-5: hsl(0 69% 42%);
    --chart-6: hsl(15 95% 53%);
    --chart-7: hsl(46 96% 53%);
    --chart-8: hsl(94 75% 44%);
    --chart-9: hsl(150 78% 39%);
  }
}
